*,
::before,
::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
}

body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

body .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(400px, 45%) minmax(400px, 55%);
      grid-template-columns: minmax(400px, 45%) minmax(400px, 55%);
}

body .container {
  height: 100%;
}

body .container .left {
  background: url(imgs/wave.png);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 100% 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container .left img {
  width: 500px;
}

body .container .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container .right img {
  width: 100px;
}

body .container .right h1 {
  margin: 35px 0;
  font-size: 3rem;
}

body .container .right form {
  width: 40%;
}

body .container .right .user,
body .container .right .pass {
  width: 100%;
  position: relative;
}

body .container .right .user input,
body .container .right .pass input {
  position: relative;
  outline-style: none;
  width: 100%;
  padding: 15px 40px;
  border: none;
  font-size: 1.1rem;
}

body .container .right .user input:focus ~ label,
body .container .right .user input:valid ~ label,
body .container .right .pass input:focus ~ label,
body .container .right .pass input:valid ~ label {
  color: #32bd8f;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  top: -10px;
  left: 30px;
}

body .container .right .user input:focus ~ i,
body .container .right .user input:valid ~ i,
body .container .right .pass input:focus ~ i,
body .container .right .pass input:valid ~ i {
  color: #32bd8f;
}

body .container .right .user input:focus ~ .underline::after,
body .container .right .user input:valid ~ .underline::after,
body .container .right .pass input:focus ~ .underline::after,
body .container .right .pass input:valid ~ .underline::after {
  right: 0;
  left: 0;
}

body .container .right .user i,
body .container .right .pass i {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 10px;
  color: rgba(128, 128, 128, 0.2);
  pointer-events: none;
}

body .container .right .user label,
body .container .right .pass label {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 40px;
  color: rgba(128, 128, 128, 0.4);
  font-weight: 600;
  pointer-events: none;
  -webkit-transition: all ease-out 200ms;
  transition: all ease-out 200ms;
}

body .container .right .user .underline,
body .container .right .pass .underline {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: rgba(128, 128, 128, 0.2);
  -webkit-transform-origin: center;
          transform-origin: center;
}

body .container .right .user .underline::after,
body .container .right .pass .underline::after {
  position: absolute;
  content: "";
  background-color: #32bd8f;
  top: 0;
  bottom: 0;
  left: 50%;
  right: 50%;
  -webkit-transition: all ease-out 200ms;
  transition: all ease-out 200ms;
}

body .container .right .user {
  margin-bottom: 35px;
}

body .container .right .pass {
  margin-bottom: 8px;
}

body .container .right .forget {
  text-align: right;
}

body .container .right .forget a {
  text-decoration: none;
  color: rgba(128, 128, 128, 0.4);
  font-weight: 600;
}

body .container .right .forget a:hover {
  color: #32bd8f;
}

body .container .right button {
  width: 100%;
  margin: 15px 0;
  padding: 10px 0;
  border-radius: 55px;
  border: none;
  color: white;
  background-color: #32bd8f;
  font-size: 1.3rem;
  font-weight: 500;
  outline-style: none;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */